.card-container {
  padding: 15px;
  margin-bottom: 10px;
}

.card-header {
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.logo-name-container {
  display: flex;
  align-items: center;
}

.logo-name {
  padding-left: 10px;
}

.percentage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  height: 100%;
}