.header-image {
}

.middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.connect-wallet {
  width: 60%;
  height: 100px;
  background-color: #c3c1c1;
  padding: 20px;
  border-radius: 10px;
}

.table-background {
  background-color: white;
}

.create-button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}